@use "funtions" as f;
// reset list
@mixin reset-list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

@mixin mx-width-paragraph {
  max-width: 596px;
  margin-left: auto;
  margin-right: auto;
}

// media queries
@mixin breakpoint($point) {
  @media screen and (min-width: f.breakpoint($point)) {
    @content;
  }
}
